.header {

    display: flex;
    flex: auto;
    width: 100%;
    padding: 16px 12px;
    
    &-hamburger {
        display: block;
        margin: auto 12px;
        cursor: pointer;
    }

    &-title {
        width: 250px;
        margin-right: 36px;
    }

    &-search {
        background-color: rgba(32,33,36,1);
        border: none;
        height: 46px;
        outline: none;
        width: 100%;
        padding: 0px 12px;
        max-width: 480px;
        font-size: 18px;
        color: #eee;

        &-wrapper {
            display: flex;
            width: 420px;
            position: relative;


            svg {
                position: absolute;
                right: 6px;
                top: 12px;
                cursor: pointer;
            }
        }
    }
}